
<p id="notice"><%= notice %></p>
<div class="container">

  <h3>All our Cocktails</h3>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="cocktail-card">
          <div>
            <%= image_tag 'photo2-cocktail-unsplash.jpeg', { class: 'card-photo'} %>
          </div>
          <div class="cocktail-card-content">
            <div class="cocktail-card-title">
              <h4>  <%= cocktail.name %></h4>
            </div>
            <div class="cocktail-card-actions">
              <%= link_to 'More Info', cocktail %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
