<h4>Adding a new Dose to an existing cocktail</h4>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%#= f.association :cocktail %>
  <%= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>
